body {
	background-color: lightgrey;
}



.pagewrapper
{
   	margin-left: auto;
   	margin-right: auto;
   	width: 1006px;
   	height: 600px;
   	border-style: solid;
  	border-width: 1px;
  	font-family: 'Special Elite', cursive; 
}

.leftdiv 
{
	float: left;
	border-style: solid;
	border-width: 1px;
	height: 600px;
	width: 200px;
	background-color: lightgreen;
}

.middlediv
{
	float: left;	
	width: 600px;
	height: 600px;
	border-style: solid;
	border-width: 1px;
	background-color: green;
}

.rightdiv
{
	float: left;
	border-style: solid;
	border-width: 1px;
	height: 600px;
	width: 200px;
	background-color: lightgreen;
}

.pagetitle
{
	color: white;
	position: relative;
	left: 130px;
}


.leftcontainer {
	float: left;
	
}

.rightcontainer {
	float: left;
}
	



.buttons
{
	position: relative;
	left: 200px;
	font-family: 'Special Elite', cursive;	
}

#hostgame
{
	top: 60px;
}

#gamelobby
{
	top: 70px;
}

#levelmanager
{
	top: 80px;
}
