body {
	background-color: #D8CAA8;
}



.pagewrapper
{
   	margin-left: auto;
   	margin-right: auto;
   	width: 1006px;
   	height: 600px;
  	font-family: 'Special Elite', cursive; 
}

.leftdiv 
{
	visibility: hidden;
}

.middlediv
{
	width: 600px;
	height: 600px;
	border-style: solid;
	border-radius: 15px;
	border-width: 1px;
	border-color: #5C832F;
	background-color: #5C832F;
	margin-left: auto;
	margin-right: auto;
	color: #D8CAA8;
}

.rightdiv
{
	visibility: hidden;
}

.pagetitle
{
	color: #D8CAA8;
	position: relative;
	text-align: center;
	margin-top: 40px;
	
}


.leftcontainer {
	float: left;
	
}

.rightcontainer {
	float: right;
}
	



.buttons
{
	width : 200px;
	position: relative;
	left: 200px;
	font-family: 'Special Elite', cursive;	
}


#tutorial{
	top: 70px;
}

#gamelobby
{
	top: 80px;
}

#levelmanager
{
	top: 90px;
}

#statistics {
	top: 100px;
}

#about{
	top: 110px;
}

#spellingbutton {
	top :70px;
}

#mathbutton {
	top :80px;
}

#levelmanaagerback {
	top :90px;
}

#left {
	float: left;
}

#right {
	float: right;
}

#tutorialText {
	float : right;
	margin-top: 52px;
	padding-right: 3px;
}

#frameForPictures{
	width: 600px;
	height: 400px;
}

#frameForPicturesLeft{
	float: left;
	width: 400px;
	height: 400px;
}

#frameForPicturesRight{
	float: right;
	width: 200px;
	height: 400px;
}

.buttongamelobby {
	position: relative;
	top: 10px;
	font-family: 'Special Elite', cursive;
	width : 145px;
}

#menu {
	left: 160px;
}

#createit {
	left: 220px;
}

#refresh {
	float: right;
}

#gamelobbyframe {
	width: 500px;
	height: 415px;
	margin-left: auto;
	margin-right: auto;
}


#temaP {
	float: left;
	position: relative;
	top: -21px;
	padding: 6px;
	font-size: 23px;
}

.textCenter {
	position: relative;
	text-align: center;
}


.spellingButtons{
	font-size: 15px;
}

#spellingTable_filter {
	
}

#spellingTable_filter label{
	margin-left: -57px	
}

#spellingTable_filter input{
	background-color: #284907;
	color: #D8CAA8;
	border-radius: 15px;
	width: 160px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none;
	margin-bottom: 12px;
	font-family: 'Special Elite', cursive;
}


.inputclass {
	background-color: #D8CAA8;
	color: #363942;
	border-radius: 15px;
	width: 160px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none;
	margin-bottom: 12px;
	font-family: 'Special Elite', cursive;
}


.dialogclass {
	font-family: 'Special Elite', cursive;
}

.ui-tooltip {
    max-width: 400px;
}

.textSize {
	font-size: 14px;
}

#gamelobbytablebody{
	color: #D8CAA8;
}

.styled select {
  	background: transparent;
   	width: 152px;
   	padding: 5px;
   	padding-top: 7px;
	font-size: 20px;
   	border: 1px solid  #D8CAA8;
   	height: 34px;
   	-webkit-appearance: none;
   	color: #363942;
   	font-family: 'Special Elite', cursive;
} 

.styled {
  	background-image: url('images/arrowdown.png');
  	width: 152px;	
	height: 32px;
	overflow: hidden;
	background-color: #D8CAA8;
	border-radius: 15px;
	background-repeat:no-repeat;
	background-position-x: 96%;
	background-position-y: 56%;
	margin-bottom: 16px;
	 
}

.optionclass {
	background-color: #D8CAA8;
	color: #363942;
	font-family: 'Special Elite', cursive;
}

#checkSpelling{
	color: #382513;
}

#checkwordspelling{
	color: #382513;
}

#players{
	float: right;
	width: 0px;
	margin-left: 14px;
	margin-right: 5px;	
}

#findByName{
	float: right;
	position: relative;
	top: -36px;
	left: -204px;
	font-size: 12px;
}

#addtheme {
	float: right;
	position: relative;
	top: -52px;
}

#slider {
	width : 150px;
	float : left;
}


#addButton{
	font-size: 15px;
}

#back {
	position: relative;
	left: 423px;
	top: -39px;
	font-size: 15px;
}

#backTutorial{
	position: relative;
	left: 170px;
	top: 1px;
	font-size: 15px;
}

#backStats{
	position: relative;
	left: 254px;
	top: 16px;
	font-size: 15px;
}

#sliderdiv {
	margin-bottom: 15px;
}

#time {
	width: 60px;
}

#checkname {
	font-size: 13px;
	color: #382513;
	margin-bottom: 5px;
}


.regular-checkbox {
	-webkit-appearance: none;
	background-color: #D8CAA8;
	border: 1px solid #D8CAA8;;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
    background-color: #D8CAA8;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #363942;
}
.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #363942;
}

.labelclass {
	position: relative;
	top: -6px;
	margin-left: 3px;
}
