body {
	background-color: #D8CAA8;
}



.pagewrapper
{
   	margin-left: auto;
   	margin-right: auto;
   	width: 1006px;
   	height: 600px;
  	font-family: 'Special Elite', cursive; 
}

.leftdiv 
{
	visibility: hidden;
}

.middlediv
{
	width: 600px;
	height: 600px;
	border-style: solid;
	border-radius: 15px;
	border-width: 1px;
	border-color: #5C832F;
	background-color: #5C832F;
	margin-left: auto;
	margin-right: auto;
}

.rightdiv
{
	visibility: hidden;
}

.pagetitle
{
	color: #D8CAA8;
	position: relative;
	text-align: center;
	margin-top: 40px;
	
}


.leftcontainer {
	float: left;
	
}

.rightcontainer {
	float: right;
}
	



.buttons
{
	width : 200px;
	position: relative;
	left: 200px;
	font-family: 'Special Elite', cursive;	
}

#gamelobby
{
	top: 70px;
}

#levelmanager
{
	top: 80px;
}

#spellingbutton {
	top :70px;
}

#mathbutton {
	top :80px;
}

#levelmanaagerback {
	top :90px;
}


.buttongamelobby {
	position: relative;
	top: 10px;
	font-family: 'Special Elite', cursive;
	width : 145px;
}

#menu {
	left: 160px;
}

#createit {
	left: 220px;
}

#refresh {
	float: right;
}

#gamelobbyframe {
	width: 500px;
	height: 415px;
	margin-left: auto;
	margin-right: auto;
}


#temaP {
	float: left;
	position: relative;
	top: -10px;
}

.textCenter {
	position: relative;
	text-align: center;
}


.ui-tooltip {
    max-width: 400px;
}

.textSize {
	font-size: 14px;
}

#gamelobbytablebody{
	color: #D8CAA8;
}


