/*********** Page Layout ****************/

#pageWrapper {
	width: 1200px;
	height: 703px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	font-family: 'Special Elite', cursive;
}
	
#header {
	float: left;
	width: 1200px;
	height: 100px;
	border: 1px solid black;
}


#leftcontainer{
	float: left;
	height: 600px;
	width: 300px;
	
}




#middlecontainer{
	float:left;
	height: 600px;
	width: 600px;
	
	
}


	
	



#rightcontainer{
	float:left;
	height:600px;
	width: 300px;
}

/*********** Game GUI ****************/
#gamegui {
	width: 600px;
	height: 600px;
	margin: 0px auto;
	border: 1px solid black;
	/* background-image: url('images/blackboard.jpg'); */
}
#gamegui canvas {
	clear: both;	
}

#players {
	float:left;
	border: 1px solid black;
}
#players ul {
		
}









/*********** TEST OUTPUT PANEL ****************/

#output {
	width: 100%;
	text-align: left;
}

#output > span {
	margin-right: 10px;
	border-right: 1px solid black;	
}


/*********** TEST PLAYER MOVEMENT ARROWS ****************/