/*********** Page Layout ****************/

@charset "UTF-8";


body, html {
	background-color: #D8CAA8;
	height: 100%;
	width: 100%
}


#pageWrapper {
	width: 80%;
	height: 100%;
	background-color: #5C832F;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #5C832F;
	font-family: 'Special Elite', cursive;
	overflow: visible;
	border-radius: 15px;
}
	
#header {
	float: left;
	width: 100%;
	height: 77px;
	background-color: #5C832F;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-color: #5C832F;
	color: #D8CAA8;
}


#containerWrapper {
	float: left;
	width: 100%;
	height: 90%;
	background-color: #5C832F;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-color: #5C832F;
	color: #D8CAA8;
}


#leftcontainer{
	float: left;
	height: 100%;
	width: 20%;
	background-color: #5C832F;
	border-bottom-left-radius: 15px;
	border-color: #5C832F;
	
}

#gameInfo {
	visibility: visible;
}


#middlecontainer{
	float:left;
	display: inline-block;
	margin: 0px auto;
	height: 100%;
	background-color: #5C832F;
	overflow: visible;
	border-color: #5C832F;
	border-radius: 15px;
}

#title {
	float: left;
	margin-left: 33%;
	margin-top: 3%;
}


p.margin2 {
	margin-left: 8px;
	font-size: 150%;
}	
	



#rightcontainer{
	float:right;
	height:100%;
	width: 20%;
	background-color: #5C832F;
	border-bottom-right-radius: 15px;
	border-color: #5C832F;
}

/*********** Game GUI ****************/
#gamegui {
	display: inline-block;
	margin: 0px auto;
	border: 1px solid #5C832F;
	background-color: #D8CAA8;
	border-radius: 15px;
}
#gamegui canvas {
	clear: both;	
}

#players {
	float:left;
}
#players ul {
		
}


.center_outer {
margin-top: 235px;
position: absolute;
float: left;
left: 50%;
} /* USE TOGETHER */



.center_inner {
    position: relative;
    left: -50%;
}



.textInCW {
	text-align: center;
	font-size: 20px;
}

.bluetext {
	color: #363942;
}

#gameoverTable{
	border-spacing: 20px;	
}

#timer{
	float: right;
	margin-right: 31%;
	margin-top: 3%;
}




/*********** TEST OUTPUT PANEL ****************/

#output {
	width: 100%;
	text-align: left;
}

#output > span {
	margin-right: 10px;
	border-right: 1px solid black;	
}


/*********** TEST PLAYER MOVEMENT ARROWS ****************/