/*********** TEST OUTPUT PANEL ****************/

#output {
	width: 100%;
	text-align: left;
}

#output > span {
	margin-right: 10px;
	border-right: 1px solid black;	
}

/*********** Game GUI ****************/
#gamegui {
	float:left;
	border: 1px solid black;
}
#gamegui canvas {
	clear: both;	
}

#players {
	float:left;
	border: 1px solid black;
	display: none;
}
#players ul {
		
}

/*********** TEST PLAYER MOVEMENT ARROWS ****************/